{% extends 'base.html.twig' %}

{% block title %}Ajouter une Plante{% endblock %}

{% block body %}
    <h1>Ajouter une Plante</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}
    <a href="{{ path('plant_list') }}">Retour à la liste</a>
{% endblock %}
