{# templates/data.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Afficher les Données{% endblock %}

{% block body %}
    <h1>Données des régions</h1>
    <div id="data-container"></div>
    <script src="{{ asset('js/fetchData.js') }}"></script>

{% endblock %}

